
@import '~@angular/material/theming';
@import 'styles.scss';

.container {

    display:flex;
    flex-direction: column;
    height: $layout-height;
    width: 100%;
    position: fixed;
    left:0;
    top:0;


    .header {
        height: $header-height;

        .toolbar-main{
            height: $header-height;
            z-index: 11;
            // align-items: center;
            
            .toolbar-main-row1 {
                display: flex;
                flex-direction: row;
                height: 100%;
                .toolbar-main-row1-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 100%;
                    flex: 0 0 80%;
                    // border: 1px dashed #333;
                    // display:flex;
                    // flex-direction: column;
                    // align-items: flex-start;
                    
                    .toolbar-logo {
                        font-size: 1.3rem;
                    }
                    
                    .toolbar-quote-title {
                        font-size: 0.7em;
                        // margin-left: 0.3rem;
                        font-style: italic;
                    }
                }
                
                .toolbar-main-row1-right {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-end;
                    height: 100%;
                    flex: 0 0 20%;
                    // border: 1px dashed #333;

                    .toolbar-username {
                        margin-top: 10px;
                        font-size: 0.7em;
                    }
                    
                    .toolbar-usericon {
                        color: red;
                        margin-top: 10px;
                        width: 1.5em;
                        margin-left: 0.3rem;
                        img {
                            width:100%;
                        }
                    }

                    .toolbar-menu-top {
                        .toolbar-menu-top-btn {
                            .toolbar-menu-top-icon {
                            }
                            .toolbar-menu-top-label{
                            }
                        }
                    }

                }
            }
            
            // .menu-button {
            //     background: mat-color($primary,lighter);
            //     color: mat-color($primary);
            //     border: none;
            //     cursor:pointer;
            //     outline:none;
            //     margin-top: 1em;
            // }
        }
    }
    .content {
        height: 100%;
        overflow-y: auto;
    }
    .footer {
        position: sticky;
        height: $footer-height;
        .toolbar-footer {
            background-color: mat-color($primary);
            color: white;
            justify-content: center;
            position: sticky;
            z-index: 111;
        }
    }
}