
@import '~@angular/material/theming';
@import 'styles.scss';

.container {

    display:flex;
    flex-direction: column;
    height: $layout-height;
    width: 100%;
    position: fixed;
    left:0;
    top:0;


    .header {
        height: $header-height;

        .toolbar-main{
            height: $header-height;
            z-index: 11;

            .menu-button {
                background: mat-color($primary,lighter);
                color: mat-color($primary);
                border: none;
                cursor:pointer;
                outline:none;
                margin-top: 1em;
            }
            
            .toolbar-logo {
                font-size: 0.7em;
            }

            .toolbar-quote-title {
                font-size: 0.7em;
                margin-left: 0.3rem;
                font-style: italic;
            }
            
            .toolbar-username {
                font-size: 0.7em;
                margin-left: 0.3rem;
            }
            
            .toolbar-usericon {
                width: 1.5em;
                img {
                    width:100%;
                }
            }
        }
    }
    .content {
        height: 100%;
        overflow-y: auto;
    }
    .footer {
        position: sticky;
        height: $footer-height;
        .toolbar-footer {
            background-color: mat-color($primary);
            color: white;
            justify-content: center;
            position: sticky;
            z-index: 111;
        }
    }
}