@import '~@angular/material/theming';
@import 'styles.scss';


.login-page {
  background-color: mat-color($primary, lighter);
  max-width: 350px;
  margin: 50px;
  margin-top: 30vh;
}

.login-form {
  display: flex;
  flex-direction: column;
}