@import '~@angular/material/theming';
@import 'styles.scss';


.login-page {
  background-color: $bg-main;
  max-width: 350px;
  margin: 50px;
}

.login-form {
  display: flex;
  flex-direction: column;
}