.date_time_top {
    //background-color: violet
    color: black;
    //border: 1px solid #c3c3c3
    margin: 15px 5px 10px 5px;
    height: 100%;
}
h6 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 5px 5px 5px 5px;
}