<div class="movie-details-page">
  <h1 class="movie-name">{{moviex?.name}}</h1>
  <div class="movie-details-subtitles">
    <p class="movie-year">{{moviex?.year}}</p>
    <p class="seperator">|</p>
    <p class="movie-category">{{moviex?.category | titlecase}}</p>
    <p class="movie-rate">Rating: {{moviex?.rate}}</p>
  </div>
  <h2 class="movie-description">{{moviex?.description}}</h2>
  <iframe width="100%" height="300" [src]="moviex?.promoUrl | youtubeSanitizer" frameborder="0" allowfullscreen></iframe>
</div>


