@import '~@angular/material/theming';
@import 'styles.scss';


.spinner-container {
    height: 340px;
    width: 390px;
    position: fixed;
    background: white;
    margin-top: 70px;
    z-index: 1;
}

.mat-card {
    background-color: mat-color($primary, lighter);
    .sortingBtn {
        background-color: mat-color($primary, darker);
        color: black;
        margin-right: 0.2rem;
    }

    .card-title {
        color: mat-color($primary, darker);
    }

    .card-subtitle {
        color: mat-color($primary, lighter);
    }
}