@import '~@angular/material/theming';
@import 'styles.scss';



.sidenavContainer {
    background-color: $bg-black;

    .toolbar-main{
        z-index: 11;

        .menu-button {
            background: mat-color($primary,lighter);
            color: mat-color($primary);
            border: none;
            cursor:pointer;
            outline:none;
        }
        
        .toolbar-quote-title {
            margin-left: 1rem;
            font-style: italic;
        }
        
        .toolbar-username {
            margin-left: 1rem;
        }
    }
}

main {
    margin: 30px;
}

