@import '~@angular/material/theming';
@import 'styles.scss';

.note-line {
    color: mat-color($warn,darker);
}

.movie-item {
    cursor: pointer;
    // border: 2px solid mat-color($primary,darker);
    border-radius: 0.2rem;
    background-color: mat-color($primary,lighter);

    @include shadowBoxEffect();
    
    &:focus {
        outline: none;
    }
    
    a {
        text-decoration: none;
        font-weight: 800;
    }

    .movie-icon {
        color: mat-color($primary,darker);
    }
}