
// Use this to create the background image
// usage:
// @include backgroundImg(......) { opacity: 0.7 }
// $imgURI is mandatory

@mixin backgroundImg($imgURI, $withBackgroundColor: #f1f1f1, $height: 100vh) {
    height: $height;
    background-color: $withBackgroundColor;
    background-image: url($imgURI);
    background-position: 50% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @content;
}

@mixin shadowBoxEffect() {
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.5);
    transition: all ease-in-out 300ms;

    &:hover {
        box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
        transform: translate(0px, -7px);
    }
}