// /* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


// @import "~@angular/material/theming";
@import '~_mixins.scss';
@import '~themensn.scss';


body {
    background-color: mat-color($primary, lighter);
    margin: 0;
}

.example-fill-remaining-space {
    flex: 1 1 auto;
}

.note-line {
    color: mat-color($warn,darker);
}


//force mat button to  padding;
.mat-button-toggle-label-content{
    padding:0.3rem !important;
}

.mat-menu-panel {
    background-color: mat-color($primary, lighter) !important;
    border: 1px solid white;
}
.mat-menu-item {
    color: mat-color($primary, darker) !important;
}


