@import "~@angular/material/theming";
// Include non-theme styles for core.
@include mat-core();

/**
    NOTE: define a theme based on this.
    @function mat-light-theme($primary, $accent, $warn: mat-palette($mat-red)) {
        @return (
            primary: $primary,
            accent: $accent,
            warn: $warn,
            is-dark: false,
            foreground: $mat-light-theme-foreground,
            background: $mat-light-theme-background,
        );
    }
*/

// 

$md-nsnblue: (
    50 : #e2e8ec,
    100 : #b8c6d0,
    200 : #88a1b0,
    300 : #587b90,
    400 : #355e79,
    500 : #114261,
    600 : #0f3c59,
    700 : #0c334f,
    800 : #0a2b45,
    900 : #051d33,
    A100 : #6cafff,
    A200 : #3993ff,
    A400 : #0677ff,
    A700 : #006bec,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
// $bg-black : rgba(29, 28, 28, 0.85);
$bg-main: white;
$primary-text : white;

$layout-height : 100vh;
$header-height : 12vh;
$footer-height : 8vh;
$content-height : calc($layout-height - $footer-height - $footer-height);



$primary : mat-palette($md-nsnblue, 400, 200, 500);
$accent : mat-palette($md-nsnblue, A400, 300, 700);
$warn : mat-palette($mat-red);
$is-dark : false;
$foreground : mat-palette($md-nsnblue, 500, 800, 200);
$background : mat-palette($md-nsnblue, 500, 800, 200);

$nsnblue-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($nsnblue-theme);
// @include angular-material-theme($nsngreen-theme);